/* Slick carousel global fix */

/* Make sure slider uses full width */
.slick-slider,
.slick-list,
.slick-track {
  width: 100% !important;
}

/* Prevent hidden content on small screens */
.slick-list {
  overflow: hidden !important;
}

/* Align slides properly */
.slick-slide > div {
  margin: 0 auto; /* center each slide */
  width: 100% !important;
}

/* Dots s*
